$scout-report-radius: 4px;
$scout-report-border: 1px;
$scout-report-width: 120px;
$scout-tooltip-length: 120px;
$tooltip-background-color: $game-background-color;

.scout {
  padding: 0 $base-padding-great;
  margin: $base-padding-normal;
  display: flex;
}

.scout-report, .scout-position, .scout-advice, .scout-spy, .scout-guess {
  @include radius($scout-report-radius);
  flex-grow: 1;
  padding: 0 $base-padding-normal;
  margin: 0 $base-padding-normal;
  width: $scout-report-width;
  text-align: center;
  border: solid $scout-report-border $game-text-color;
  position: relative;

  &:hover .tooltip {
    visibility: visible;
  }
}

.tooltip {
  @include radius(5px);
  visibility: hidden;
  position: absolute;
  width: $scout-tooltip-length;
  text-align: center;
  padding: $base-padding-normal $base-padding-great;
  background-color: $tooltip-background-color;
  z-index: 1;
  &:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -6px;
    border: 6px solid transparent;
    border-bottom-color: $tooltip-background-color;
  }
}

.tooltip-bottom {
  top: 200%;
  left: 50%;
  margin-left: -$scout-tooltip-length/2 - $base-padding-great;
}

.unsufficient {
  color: $message-error-color;
}