html, body {
  margin: 0;
  height: $display-dimension-full;
  overflow: hidden;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: $game-background-color;
  opacity: $game-opacity;
  z-index: -1;
}

.clash-container {
  display: flex;
  flex-direction: column;
  height: $display-dimension-full;
  width: 100%;
}

.clash-header {
  @include shadow(16, 8);
  z-index: 10;
  height: $text-container-height;
  padding: $base-padding-normal;

  @for $i from 1 through length($colors) {
    $color: nth($colors, $i);
    &.lord#{$i - 1} {
      border-bottom: solid 2px #{$color};
    }
  }

}

.clash-game {
  flex-grow: 1;
  min-height: 0;
  overflow: auto;
  z-index: 1;
}

.clash-console {
  z-index: 1;
  @include shadow(16, 8);
}

.board-background {
  text-align: center;
}