html, body {
  margin: 0;
  height: $display-dimension-full;
  overflow: hidden;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: $game-background-color;
  opacity: $game-opacity;
}

.clash-container {
  display: flex;
  flex-direction: column;
  height: $display-dimension-full;
  width: 100%;
}

.clash-header {
  height: $text-container-height;
  z-index: 1;
  @include shadow;
  padding: $base-padding-normal;
}

.clash-game {
  flex-grow: 1;
  min-height: 0;
  overflow: auto;
  z-index: 1;
}

.clash-console {
  z-index: 1;
  @include shadow;
}

.board-background {
  text-align: center;
}