$help-button-dimension: 50px;
$col-button-dimension: 200px;

.nav {
  @include shadow(8, 4);
  position: absolute;
  cursor: pointer;
  border: 2px solid;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-family;
  font-size: $font-size-big;

  @for $i from 1 through length($colors) {
    $color: nth($colors, $i);
    &.lord#{$i - 1} {
      border-color: #{$color};
    }
  }
}

.navhelp {
  top: 60px;
  left: 20px;
}

.circle {
  @include radius($help-button-dimension/2);
  height: $help-button-dimension;
  width: $help-button-dimension;
}

.navcol {
  width: $col-button-dimension;
  padding: $base-padding-normal;
  top: 20px;
  left: 20px;
}

.help-text {
  text-align: center;
  color: $game-text-color;
  padding: 32px 0;
  flex-grow: 1;
  min-height: 0;
  width: 50%;
}

.help-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  height: 100vh;
}

.help-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: $base-padding-normal;
  margin: $base-padding-great 0;
  &.example > :first-child {
    @include shadow(16, 8);
    margin: $base-padding-great 0;
  }
}

.help-separator {
  margin-top: $base-padding-great * 2;
  border-bottom: 1px solid;
  @include shadow(8, 1);
}