$loading-box-dimension: 50px;

.loading {
  width: $loading-box-dimension;
  height: $loading-box-dimension;
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: $font-family;
  color: $loading-background-color;
}