// COL Plot CSS Style
$plot-dimension: 36px;
$plot-image-dimension: 32px;
$plot-grid-width: 0.5px;
$plot-limes-width: 2px;
$plot-background-color: transparent;

@mixin fortify {
  content: " ";
  position: absolute;
  z-index: 1;
  width: 28px;
  height: 28px;
  transform: translateX(-16px) translateY(2px);
  border: solid 2px;
}

.plot {
  margin: $plot-grid-width;
  border: $plot-limes-width solid;
  width: $plot-dimension;
  height: $plot-dimension;
  position: relative;
  background-color: $plot-background-color;
  &:hover {
    background-color: $plot-hover-color;
    border-color: $plot-hover-color;
    cursor: pointer;
  }
  &.selected {
    background-color: $plot-hover-color;
  }
  @for $i from 1 through length($colors) {
    $color: nth($colors, $i);
    &.fortified.lord#{$i - 1}:after {
      @include fortify;
      border-color: #{$color};
    }
  }
}

.plot_image {
  content: " ";
  position: absolute;
  width: $plot-image-dimension;
  height: $plot-image-dimension;
  z-index: 2;
}

.m {
  background-color: $terrain-mountain-color;
  border-color: $terrain-mountain-color;
  &:before {
    @extend .plot_image;
    transform: rotateZ(-45deg) translateX(-13px) translateY(-28px);
    background-image: $mountain-image-url;
  }
}

.p {
  background-color: $terrain-plain-color;
  border-color: $terrain-plain-color;
}

.c {
  @extend .p;
  &:before {
    @extend .plot_image;
    transform: rotateZ(-45deg) translateX(-13px) translateY(-18px);
    background-image: $castle-image-url;
  }
}

.f {
  background-color: $terrain-forest-color;
  border-color: $terrain-forest-color;
  &:before {
    @extend .plot_image;
    transform: rotateZ(-45deg) translateX(-13px) translateY(-20px);
    background-image: $forest-image-url;
  }
}

.w {
  background-color: $terrain-water-color;
  border-color: $terrain-water-color;
  &:before {
    @extend .plot_image;
    transform: rotateZ(-45deg) translateX(-13px) translateY(-12px);
    background-image: $water-image-url;
  }
}

@for $i from 1 through length($colors) {
  $color: nth($colors, $i);
  @each $direction in $directions {
    .limes-#{$direction}.lord#{$i - 1} {
      border-#{$direction}-color: #{$color}
    }
  }
}

.fortified2 {
  background: repeating-linear-gradient(45deg, #5dae43, #5DAE43 7px, darkblue 8px, darkblue 9px)
}