
.region {
  border-width: 1px;
  border-color: lightgrey;
  background-color: lightgrey;
  border-style: solid;
  margin: 10px;
  transform: rotateX(45deg) rotateZ(45deg);
  display: inline-block;
}

.row {
  display: flex;
  flex-direction: row;
}