// COL Colors

$loading-background-color: #ddd;
$game-background-color: #000;

$lord1-limes-color: darkblue;
$terrain-water-color: lightskyblue;
$terrain-mountain-color: #B45A1A;
$terrain-plain-color: #5DAE43;
$terrain-forest-color: forestgreen;
$plot-selected-color: lightgreen;