$console-height: 250px;
$console-lateral-width: 250px;
$turn-button-size: 28px;

.console {
  @include shadow(16, 8);
  @include radius(5px);
  height: $console-height;
  flex-grow: 4;
  display: flex;
  flex-direction: column;
}

.messages {
  flex-grow: 1;
  background-color: $game-background-color;
  opacity: $game-opacity;
  padding: $base-padding-normal;
}

.message {
  color: $game-text-color;
  font-family: $font-family;
  font-size: $font-size-small;
  padding: $base-padding-normal;
  &.e {
    color: $message-error-color;
  }
}

.nextturn {
  @include shadow(8, 1);
  height: $turn-button-size;
  float: left;
  color: $game-text-color;
  font-family: $font-family;
  text-align: center;
  font-size: $font-size-big;
  width: 100%;
  &:hover {
    @include shadow(8, 4);
    cursor: pointer;
    color: white;
  }

  @for $i from 1 through length($colors) {
    $color: nth($colors, $i);
    &.lord#{$i - 1} {
      background-color: #{$color};
    }
  }
}